////
/// Grid
@group layout
////

.grid
    @media screen and (min-width: $tablet)
        display: grid
    
    display: block
    grid-column-gap: $rem--one


.grid--24
    @media screen and (max-width: $tablet)
        grid-template-columns: repeat(6, 1fr)

    @media screen and (min-width: $tablet)
        grid-template-columns: repeat(12, 1fr)
    
    @media screen and (min-width: $desktopSmall)
        grid-template-columns: repeat(24, 1fr)

.grid--18
    grid-template-columns: repeat(6, 1fr)
    @media screen and (min-width: $tablet)
        grid-template-columns: repeat(12, 1fr)
    
    @media screen and (min-width: $desktopSmall)
        grid-template-columns: repeat(18, 1fr)

.grid--2
    grid-template-columns: repeat(2, 1fr)

.wrapper--content
    margin: $rem--two 0

    @media screen and (min-width: $desktopSmall)
        grid-column: 3/-3
    
    grid-column: 1/-1
    padding: $rem--two 0
    box-shadow: 3px 4px 21px 7px rgba(204,204,204,1)

.content
    grid-column: 1/-1
    @media screen and (min-width: $tablet)
        grid-column: 2/-2
    
    @media screen and (min-width: $desktopSmall)
        grid-column: 3/-3
    
