////
/// Measurements
@group abstracts
////

$rem--eighth: 0.125rem
$rem--quarter: 0.25rem
$rem--half: 0.5rem
$rem--threequarters: 0.75rem
$rem--one: 1rem
$rem--one-quarter: 1.25rem
$rem--one-half: 1.5rem
$rem--one-threequarters: 1.75rem
$rem--two: 2rem